
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body and styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #f9f9f9;
    background: #000000;
}

header {
    background: #ff0000;
    color: #fff;
    padding: 1rem;
}

header .container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    font-size: 1.8rem;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 1rem;
}

nav ul li {
    margin-left: 1rem;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

section {
    padding: 2rem 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}

h2 {
    margin-bottom: 1rem;
    font-size: 1.5rem;
}

.movie-list {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.movie {
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    flex: 1 1 calc(33.333% - 1rem);
    text-align: center;
    background: #292727;
}

.movie img {
   width: 100%;
   height: auto;

}

.movie h3 {
    margin: 0.5rem 0;
}

.book-now{
    padding: 10px 15px ;
    margin: 10px 10px ;
    background-color: #ff0000;
    border: none;
    cursor: pointer;
    color: #ffffff;
}

.book-now:hover{
    background-color: #000000;
}

.booking-form,
.contact-form {
    display: grid;
    gap: 1rem;
}

.booking-form label,
.contact-form label {
    display: block;
}

.booking-form input,
.contact-form input,
.booking-form select,
.booking-form textarea {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.booking-form button,
.contact-form button {
    background: #333;
    color: #fff;
    border: none;
    padding: 0.5rem;
    border-radius: 5px;
    cursor: pointer;
}

.booking-form button:hover,
.contact-form button:hover {
    background: #555;
}

footer {
    background: #ff0000;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}

p{
    font-size: medium;
}

/* Media Queries for Responsiveness */

/* Tablet */
@media screen and (min-width: 501px) and (max-width: 768px) {
    header .container {
        flex-direction: column;
        align-items: flex-start;
    }

    nav ul {
        flex-direction: column;
        gap: 0.5rem;
    }

    .movie-list {
        flex-direction: column;
    }

    .movie img{
        flex: 1 1 100%;
    }

    p{
        font-size: small;
    }
    
}

/* Mobile */
@media screen and (max-width: 500px) {
    header h1 {
        font-size: 1.5rem;
    }

    nav ul {
        flex-direction: column;
        align-items: flex-start;
    }

    nav ul li {
        margin-left: 0;
    }

    .movie-list {
        flex-direction: column;
    }

    .movie img {
        flex: 1 1 100%;
    }
   
    p{
        font-size: smaller;
    }
 
}
